
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background: linear-gradient(to right, #3498DB, #9B59B6);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    z-index: 2; /* Ensure the nav is above the content */
   
}
.active {
    display: block;
}

nav:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #2980B9;
    transform: scale(1.1);
}

.logo {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ECF0F1;
}

/* Improved mobile navigation */
@media (max-width: 768px) {
    nav {
        padding: 10px 20px;
        position: relative;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
    }

    nav a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        text-align: center;
    }

  .active a {
        background: rgba(52, 152, 219, 0.8);
        display: none;
       
    }
}

.logo:hover::after {
    content: "Hello";
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 1;
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(to top, #3498DB, #FEF1EE);
    color: #fff;
    text-align: center;
    padding: 50px;
    margin-top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 60%;
}

.roles {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    animation: changeText 4s infinite;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.hero-image {
    max-width: 48%;
}

img {
    max-width: 70%;
    height: auto;
    border-radius: 30px;
}

@keyframes changeText {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 0; }
    75%, 100% { opacity: 1; }
}
h1{
    font-size: 2em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.About{
    background-image: linear-gradient(to bottom, #FEF1EE, #3498DB);
    text-align: center;
    padding: 80px;
    margin-top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .aboutme{
    align-items: center;
    padding: 15px;


 }
 h2{
    font-size: 4em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }
 .aboutme p{
    font-size: 1.4em;
    padding: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
 }
 .journeyHeader{
    background-image: linear-gradient(to top, #D2B48C, #3498DB);
    text-align: center;
    padding: 20px;
    margin-top: 0;
    z-index: 1;
    
    justify-content: space-between;
    align-items: center;
 }

 
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.backward-icon,
.forward-icon {
    font-size: 20px;
    cursor: pointer;
    animation: fadeIn 2s;
    opacity: 1;
}

.date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 80px;
}

.event {
    text-align: left;
    margin-bottom: 20px;
    display:block;
    justify-content: space-between;
    align-items: center;
}

.event-content {
    flex: 1;
   
}

.event h2 {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 20px
}

.event p {
    font-size: 20px;
    color: black;
    padding: 20px;
    align-items: center;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    

}
.fade-out {
    opacity: 0;
}
.event {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out;
    box-shadow: 0 0 10px #D2B48C(0, 0, 0, 0.1); /* Optional: Add a subtle shadow effect */
}

.slide-out {
    transform: translateX(-100%);
    box-shadow: none; /* Remove the shadow during the slide-out effect */
    opacity: 0.5; /* Optional: Add a fade-out effect */
    width: 100%; /* Maintain full width during the slide-out effect */
}

.Experince{
    background-image: linear-gradient(to bottom, #D2B48C, rgb(221, 126, 211));
    text-align: left;
    padding: 20px;
    margin-top: 0;
    z-index: 1;
    
    justify-content: space-between;
    align-items: center;
    

}



.backward-icon2,
.forward-icon2 {
    font-size: 20px;
    cursor: pointer;
    animation: fadeIn 2s;
    opacity: 1;
}

.experince1 {
    text-align: center;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out;
    box-shadow: 0 0 10px #D2B48C(0, 0, 0, 0.1);
}

.experince-content {
    flex: 1;
   
}

.experince1 h2 {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 20px
}

.experince1 p {
    font-size: 20px;
    color: black;
    padding: 20px;
    align-items: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}.date2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 80px;
}

h4{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

h5{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.Ed{
    background-image: linear-gradient(to right,  rgb(188, 219, 245), rgb(221, 140, 126));
   text-align: center;
   display: flex;
   justify-content: space-between;
   padding: 20px;
    
    
}
.Education,.certification {
flex-basis: 48%; /* Set a percentage width for both elements */
}


li{
font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.certification p{
font-size: 1.4em;
color:gray;
}

.Contact {
background-image: linear-gradient(to top, #D1AAAA, #93c5e5);
text-align: center;
padding: 20px;
}

.Contact h2 {
margin-bottom: 20px;
}

.Contact .icons {
display: flex;
justify-content: center;

}

.Contact .icons a {
margin: 0 10px; /* Adjust the margin as needed */
}

.Contact img {
width: 50px; /* Adjust the width as needed */
height: auto;
}



.Contact h2 {
font-size: 2em;
margin-bottom: 20px;
}

.Contact .icons {
display: flex;
justify-content: center;
}

.Contact .icons a {
margin: 0 15px;
text-decoration: none;
color: #ffffff;
transition: color 0.3s ease-in-out;

}

.Contact .icons a:hover {
color: #D1AAAA;

}

.Contact img {
width: 50px;
height: auto;
border-radius: 50%;
transition: transform 0.3s ease-in-out;

}

.Contact img:hover {
transform: scale(1.2);
}